* { margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family:
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
  }

.msgBx {
  width: 100%;
  border: 1px solid;
  border-color: #000000;
  background-color: #cccccc;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.85;
}

.dbgBx {
  width: 100%;
  border: 1px solid;
  border-color: #000000;
  background-color: #cccccc;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.85;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.infoTable {
  border: 0px;
}

.vehInfoHeader {
  text-align: center;
  font-weight: bold;
}

.tblHeader {
  font-weight: bold;
  border: 0px;
}

.tblCell {
  border: 0px;
}

.tblEmerg {
  font-weight: bold;
  border: 0px;
  background-color: #ffff00;
  color: #ff0000;
}

#mapStyleBox {
  text-align: left;
  font-family: Roboto, Arial, sans-serif;
  position: absolute;
  top: 20px!important;
  left: 5px!important;
}

.mapStyleSelector {
  font-size: 12px;
}